**/.settings
**/.project
**/.classpath
**/.clover
**/bin
**/target
**/dependency-reduced-pom.xml
.DS_store
**/.vagrant
.settings
.project
.classpath
.metadata
*.iml
.idea
target
build
LICENSES
NOTICE
**/.cache
*~
